In [1]:
import numpy as np
import pandas as pd
from functions import *

In [2]:
data = pd.read_excel('data_final.xlsx')

In [3]:
data = data.drop(columns = ['Unnamed: 84', 'Unnamed: 85', 'Q5', 'Q6', 'Q7', 'Q8', 'Q9', 'Q10'])

In [4]:
data['Dummy'].replace(['A', 'B'], [0, 1], inplace=True)
data['S0a'].replace(["A - Save myself", "B - Crash and do not save myself (I sacrifice myself)", "C - I don't know what to choose, the car will continue its original plan (going straight)", "D - I don't know what to choose, I let the car take a random decision"], [0, 1, 2, 3], inplace=True)
data['S0b'].replace(["A - Save myself", "B - Crash and do not save myself (I sacrifice myself)", "C - I don't know what to choose, the car will continue its original plan (going straight)", "D - I don't know what to choose, I let the car take a random decision"], [0, 1, 2, 3], inplace=True)
data['S0c'].replace(["A - Save myself", "B - Crash and do not save myself (I sacrifice myself)", "C - I don't know what to choose, the car will continue its original plan (going straight)", "D - I don't know what to choose, I let the car take a random decision"], [0, 1, 2, 3], inplace=True)
data['S2a'].replace(["A - Save myself", "B - Crash and do not save myself (I sacrifice myself)", "C - I don't know what to choose, the car will continue its original plan (going straight)", "D - I don't know what to choose, I let the car take a random decision"], [0, 1, 2, 3], inplace=True)
data['S2b'].replace(["A - Save myself", "B - Crash and do not save myself (I sacrifice myself)", "C - I don't know what to choose, the car will continue its original plan (going straight)", "D - I don't know what to choose, I let the car take a random decision"], [0, 1, 2, 3], inplace=True)
data['S3a'].replace(["A - Save myself", "B - Crash and do not save myself (I sacrifice myself)", "C - I don't know what to choose, the car will continue its original plan (going straight)", "D - I don't know what to choose, I let the car take a random decision"], [0, 1, 2, 3], inplace=True)
data['S3b'].replace(["A - Save myself", "B - Crash and do not save myself (I sacrifice myself)", "C - I don't know what to choose, the car will continue its original plan (going straight)", "D - I don't know what to choose, I let the car take a random decision"], [0, 1, 2, 3], inplace=True)
data['S4a'].replace(["A - Keep going", "B - Change plan", "C - I don't know what to choose, the car will continue its original plan (going straight)", "D - I don't know what to choose, I let the car take a random decision"], [0, 1, 2, 3], inplace=True)
data['S4b'].replace(["A - Keep going", "B - Change plan", "C - I don't know what to choose, the car will continue its original plan (going straight)", "D - I don't know what to choose, I let the car take a random decision"], [0, 1, 2, 3], inplace=True)
data['S5a'].replace(["A - Keep going", "B - Change plan", "C - I don't know what to choose, the car will continue its original plan (going straight)", "D - I don't know what to choose, I let the car take a random decision"], [0, 1, 2, 3], inplace=True)
data['S5b'].replace(["A - Keep going", "B - Change plan", "C - I don't know what to choose, the car will continue its original plan (going straight)", "D - I don't know what to choose, I let the car take a random decision"], [0, 1, 2, 3], inplace=True)
data['S6a'].replace(["A - Guarantee the protection of the passengers", "B - Do not necessarily guarantee the protection of the passengers", "C - I don't know what to choose, the car will continue its original plan (going straight)", "D - I don't know what to choose, I let the car take a random decision"], [0, 1, 2, 3], inplace=True)
data['S6b'].replace(["A - Guarantee the protection of the PASSENGER", "B - Do not necessarily guarantee the protection of the PASSENGER", "C - I don't know what to choose, the car will continue its original plan (going straight)", "D - I don't know what to choose, I let the car take a random decision"], [0, 1, 2, 3], inplace=True)
data['S7a'].replace(["A - Guarantee the protection of the PASSENGER", "B - Do not necessarily guarantee the protection of the PASSENGER", "C - I don't know what to choose, the car will continue its original plan (going straight)", "D - I don't know what to choose, I let the car take a random decision"], [0, 1, 2, 3], inplace=True)
data['S7b'].replace(["A - Guarantee the protection of the PASSENGER", "B - Do not necessarily guarantee the protection of the PASSENGER", "C - I don't know what to choose, the car will continue its original plan (going straight)", "D - I don't know what to choose, I let the car take a random decision"], [0, 1, 2, 3], inplace=True)
data['S8a'].replace(["A - Guarantee the protection of the PASSENGER", "B - Do not necessarily guarantee the protection of the PASSENGER", "C - I don't know what to choose, the car will continue its original plan (going straight)", "D - I don't know what to choose, I let the car take a random decision"], [0, 1, 2, 3], inplace=True)
data['S8b'].replace(["A - Guarantee the protection of the PASSENGER", "B - Do not necessarily guarantee the protection of the PASSENGER", "C - I don't know what to choose, the car will continue its original plan (going straight)", "D - I don't know what to choose, I let the car take a random decision"], [0, 1, 2, 3], inplace=True)
data['S9a'].replace(["A - Go straight ahead", "B - Swerve", "C - I don't know what to choose, the car will continue its original plan (going straight)", "D - I don't know what to choose, I let the car take a random decision"], [0, 1, 2, 3], inplace=True)
data['S9b'].replace(["A - Go straight ahead", "B - Swerve", "C - I don't know what to choose, the car will continue its original plan (going straight)", "D - I don't know what to choose, I let the car take a random decision"], [0, 1, 2, 3], inplace=True)
data['S10a'].replace(["A - Go straight ahead", "B - Swerve", "C - I don't know what to choose, the car will continue its original plan (going straight)", "D - I don't know what to choose, I let the car take a random decision"], [0, 1, 2, 3], inplace=True)
data['S10b'].replace(["A - Go straight ahead", "B - Swerve", "C - I don't know what to choose, the car will continue its original plan (going straight)", "D - I don't know what to choose, I let the car take a random decision"], [0, 1, 2, 3], inplace=True)
data['S11a'].replace(["A - Go straight ahead", "B - Swerve", "C - I don't know what to choose, the car will continue its original plan (going straight)", "D - I don't know what to choose, I let the car take a random decision"], [0, 1, 2, 3], inplace=True)

data['CL1a'].replace([">", "=", "<"], [0, 1, 2], inplace=True)
data['CL1b'].replace([">", "=", "<"], [0, 1, 2], inplace=True)
data['CL1c'].replace([">", "=", "<"], [0, 1, 2], inplace=True)
data['CL1d'].replace([">", "=", "<"], [0, 1, 2], inplace=True)
data['CL1e'].replace([">", "=", "<"], [0, 1, 2], inplace=True)
data['CL1f'].replace([">", "=", "<"], [0, 1, 2], inplace=True)
data['CL1g'].replace([">", "=", "<"], [0, 1, 2], inplace=True)
data['CL1h'].replace([">", "=", "<"], [0, 1, 2], inplace=True)

data['CL2a'].replace([">", "=", "<"], [0, 1, 2], inplace=True)
data['CL2b'].replace([">", "=", "<"], [0, 1, 2], inplace=True)
data['CL2c'].replace([">", "=", "<"], [0, 1, 2], inplace=True)
data['CL2d'].replace([">", "=", "<"], [0, 1, 2], inplace=True)
data['CL2e'].replace([">", "=", "<"], [0, 1, 2], inplace=True)
data['CL2f'].replace([">", "=", "<"], [0, 1, 2], inplace=True)
data['CL2g'].replace([">", "=", "<"], [0, 1, 2], inplace=True)
data['CL2h'].replace([">", "=", "<"], [0, 1, 2], inplace=True)

data['CL3a'].replace([">", "=", "<"], [0, 1, 2], inplace=True)
data['CL3b'].replace([">", "=", "<"], [0, 1, 2], inplace=True)
data['CL3c'].replace([">", "=", "<"], [0, 1, 2], inplace=True)
data['CL3d'].replace([">", "=", "<"], [0, 1, 2], inplace=True)
data['CL3e'].replace([">", "=", "<"], [0, 1, 2], inplace=True)
data['CL3f'].replace([">", "=", "<"], [0, 1, 2], inplace=True)
data['CL3g'].replace([">", "=", "<"], [0, 1, 2], inplace=True)
data['CL3h'].replace([">", "=", "<"], [0, 1, 2], inplace=True)
data['CL3i'].replace([">", "=", "<"], [0, 1, 2], inplace=True)

data['CL4a'].replace([">", "=", "<"], [0, 1, 2], inplace=True)
data['CL4b'].replace([">", "=", "<"], [0, 1, 2], inplace=True)
data['CL4c'].replace([">", "=", "<"], [0, 1, 2], inplace=True)
data['CL4d'].replace([">", "=", "<"], [0, 1, 2], inplace=True)
data['CL4e'].replace([">", "=", "<"], [0, 1, 2], inplace=True)
data['CL4f'].replace([">", "=", "<"], [0, 1, 2], inplace=True)
data['CL4g'].replace([">", "=", "<"], [0, 1, 2], inplace=True)
data['CL4h'].replace([">", "=", "<"], [0, 1, 2], inplace=True)
data['CL4i'].replace([">", "=", "<"], [0, 1, 2], inplace=True)
data['CL4j'].replace([">", "=", "<"], [0, 1, 2], inplace=True)

data['CL5a'].replace([">", "=", "<"], [0, 1, 2], inplace=True)
data['CL5b'].replace([">", "=", "<"], [0, 1, 2], inplace=True)
data['CL5c'].replace([">", "=", "<"], [0, 1, 2], inplace=True)

data['S12'].replace(["A", "B", "C - I don't know what to choose, the car will continue its original plan (going straight)", "D - I don't know what to choose, I let the car take a random decision"], [0, 1, 2, 3], inplace=True)
data['S13'].replace(["A", "B", "C - I don't know what to choose, the car will continue its original plan (going straight)", "D - I don't know what to choose, I let the car take a random decision"], [0, 1, 2, 3], inplace=True)
data['S14'].replace(["A", "B", "C - I don't know what to choose, the car will continue its original plan (going straight)", "D - I don't know what to choose, I let the car take a random decision"], [0, 1, 2, 3], inplace=True)
data['S15'].replace(["A", "B", "C - I don't know what to choose, the car will continue its original plan (going straight)", "D - I don't know what to choose, I let the car take a random decision"], [0, 1, 2, 3], inplace=True)
data['S16'].replace(["A", "B", "C - I don't know what to choose, the car will continue its original plan (going straight)", "D - I don't know what to choose, I let the car take a random decision"], [0, 1, 2, 3], inplace=True)
data['S17'].replace(["A", "B", "C - I don't know what to choose, the car will continue its original plan (going straight)", "D - I don't know what to choose, I let the car take a random decision"], [0, 1, 2, 3], inplace=True)
data['S18'].replace(["A", "B", "C - I don't know what to choose, the car will continue its original plan (going straight)", "D - I don't know what to choose, I let the car take a random decision"], [0, 1, 2, 3], inplace=True)
data['S19'].replace(["A", "B", "C - I don't know what to choose, the car will continue its original plan (going straight)", "D - I don't know what to choose, I let the car take a random decision"], [0, 1, 2, 3], inplace=True)
data['S20'].replace(["A", "B", "C - I don't know what to choose, the car will continue its original plan (going straight)", "D - I don't know what to choose, I let the car take a random decision"], [0, 1, 2, 3], inplace=True)
data['S21'].replace(["A", "B", "C - I don't know what to choose, the car will continue its original plan (going straight)", "D - I don't know what to choose, I let the car take a random decision"], [0, 1, 2, 3], inplace=True)
data['S22'].replace(["A", "B", "C - I don't know what to choose, the car will continue its original plan (going straight)", "D - I don't know what to choose, I let the car take a random decision"], [0, 1, 2, 3], inplace=True)
data['Sadd1'].replace(["A", "B", "C - I don't know what to choose, the car will continue its original plan (going straight)", "D - I don't know what to choose, I let the car take a random decision"], [0, 1, 2, 3], inplace=True)
data['Sadd2'].replace(["A", "B", "C - I don't know what to choose, the car will continue its original plan (going straight)", "D - I don't know what to choose, I let the car take a random decision"], [0, 1, 2, 3], inplace=True)

data['Q1'].replace(["Yes", "No"], [1, 0], inplace=True)
data['Q2'].replace(["Use an adaptative software", "Use the generic one"], [1, 0], inplace=True)
data['Q3'].replace(["No", "City", "Highway", "Both"], [0, 1, 2, 3], inplace=True)
data['Q4'].replace(["Yes", "No"], [1, 0], inplace=True)

In [5]:
data0 = data.iloc[:, 23:61]
data0.shape

(45, 38)

## Removing outliers

In [6]:
most_frequent = frequency(data0)
percentages = perc(data0, most_frequent)
data1, data2 = makeTree(data0, percentages, most_frequent)

Branch can still split
Feature max : CL2f value 0.0 with percentage : 93.33333333333333 %
data_max shape : (42, 37)
data_min shape : (3, 37)

In [7]:
data2

,CL1a,CL1b,CL1c,CL1d,CL1e,CL1f,CL1g,CL1h,CL2a,CL2b,...,CL4d,CL4e,CL4f,CL4g,CL4h,CL4i,CL4j,CL5a,CL5b,CL5c
22,0.0,2.0,1.0,1.0,2.0,0.0,0.0,1.0,2.0,1.0,...,2.0,2.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0
32,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,2.0,2.0,0.0,0.0,1.0
43,2.0,2.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,2.0,...,0.0,1.0,0.0,0.0,1.0,1.0,2.0,0.0,0.0,1.0

$CL2f = 0$ : someone you know legal > 1 illegal adult.

In [8]:
most_frequent = frequency(data1)
percentages = perc(data1, most_frequent)
data3, data4 = makeTree(data1, percentages, most_frequent)

Branch can still split
Feature max : CL3a value 2.0 with percentage : 92.85714285714286 %
data_max shape : (39, 36)
data_min shape : (3, 36)

In [9]:
data4

,CL1a,CL1b,CL1c,CL1d,CL1e,CL1f,CL1g,CL1h,CL2a,CL2b,...,CL4d,CL4e,CL4f,CL4g,CL4h,CL4i,CL4j,CL5a,CL5b,CL5c
3,1.0,2.0,2.0,2.0,2.0,0.0,0.0,1.0,1.0,2.0,...,2.0,2.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,1.0
7,1.0,1.0,2.0,2.0,2.0,0.0,1.0,1.0,1.0,1.0,...,2.0,2.0,0.0,1.0,1.0,2.0,1.0,0.0,1.0,1.0
8,1.0,1.0,2.0,2.0,2.0,0.0,0.0,0.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0

$CL3a = 2$ : 1 illegal adult < 2 legal adults

In [10]:
most_frequent = frequency(data3)
percentages = perc(data3, most_frequent)
data5, data6 = makeTree(data3, percentages, most_frequent)

Branch can still split
Feature max : CL2c value 0.0 with percentage : 97.43589743589743 %
data_max shape : (38, 35)
data_min shape : (1, 35)
Clustering done on 'min' branch, sample is alone

$CL2c = 0$ : you legal > 1 illegal adult

In [11]:
data6

,CL1a,CL1b,CL1c,CL1d,CL1e,CL1f,CL1g,CL1h,CL2a,CL2b,...,CL4d,CL4e,CL4f,CL4g,CL4h,CL4i,CL4j,CL5a,CL5b,CL5c
16,2.0,2.0,1.0,1.0,1.0,0.0,1.0,1.0,2.0,2.0,...,1.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0

## Separating by most different features

In [12]:
data0 = data5
data0.shape

(38, 35)

In [13]:
data1, data2 = makeTree50(data0)

Feature min : CL1d value 0.0 with percentage : 50.0 %
data_max shape : (19, 34)
data_min shape : (19, 34)

In [14]:
data3, data4 = makeTree50(data1)

Feature min : CL1h value 0.0 with percentage : 47.36842105263158 %
data_max shape : (9, 33)
data_min shape : (10, 33)

In [15]:
data5, data6 = makeTree50(data2)

Feature min : CL1e value 1.0 with percentage : 47.36842105263158 %
data_max shape : (9, 33)
data_min shape : (10, 33)

## Accuracies

In [16]:
scenarios = data.iloc[:, 61:74]

### Group 1 (data3) accuracy

In [17]:
indices3 = data3.index
scenarios3 = scenarios.loc[indices3]
most_frequent3 = frequency(scenarios3) #this is the most frequent answer by scenario for the group 
#It is then compared to what we think the group should have answered.

In [18]:
percentages3= perc(scenarios3, most_frequent3)
percentages3.T

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,77.777778,100.0,66.666667,55.555556,44.444444,66.666667,55.555556,33.333333,33.333333,77.777778,77.777778,44.444444,55.555556

### Group 2 (data4) accuracy

In [19]:
indices4 = data4.index
scenarios4 = scenarios.loc[indices4]
most_frequent4 = frequency(scenarios4)

In [20]:
percentages4 = perc(scenarios4, most_frequent4)
percentages4.T

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,70.0,70.0,50.0,60.0,40.0,90.0,70.0,50.0,50.0,80.0,70.0,40.0,50.0

### Group 3 (data5) accuracy

In [21]:
indices5 = data5.index
scenarios5 = scenarios.loc[indices5]
most_frequent5 = frequency(scenarios5)

In [22]:
percentages5 = perc(scenarios5, most_frequent5)
percentages5.T

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,55.555556,88.888889,55.555556,44.444444,44.444444,88.888889,44.444444,66.666667,44.444444,88.888889,77.777778,55.555556,55.555556

### Group 4 (data6) accuracy

In [23]:
indices6 = data6.index
scenarios6 = scenarios.loc[indices6]
most_frequent6 = frequency(scenarios6)

In [24]:
percentages6 = perc(scenarios6, most_frequent6)
percentages6.T

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,60.0,90.0,50.0,40.0,50.0,90.0,60.0,70.0,50.0,60.0,90.0,70.0,50.0